<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ipd.xiangzuidoctor">

    <application
        android:name=".utils.ApplicationUtil"
        android:allowBackup="false"
        android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:allowBackup, theme, label">

        <activity
            android:name=".activity.CaptchaLoginActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.PwdLoginActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.RegisterActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ResetPwdActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.OrderActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.AuthenticationActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.PhotoActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.AuthenticationResultActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.OrderDetailsActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SpecialColumnActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.EndOperationActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.StartOperationActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.OfflineActivitiesActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SpecialColumnDetailsActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.CollectionActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.MyActivitiesActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.EnrollActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.OfflineActivitiesDetailsActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.AboutActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.HospitialInfoActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ModifyPwdActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.MsgActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.MsgRemindActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.PlatformAgreementActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.RechargeActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.RechargeRecordActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SettingActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.WalletActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.WithdrawActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.WithdrawalsRecordActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.WithdrawSuccessActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:exported="false"
            android:launchMode="singleTask" />

        <meta-data
            android:name="channel"
            android:value="yingyongbao" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
    </application>

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>